### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.vscode
*.ipynb_checkpoints

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.ini

.env
# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
