[Unit]
Description=My Python Background Service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/Dental-Modern-Data-demo/Database_Services/inventory_and_supplies
ExecStart=/usr/bin/python /home/ubuntu/Dental-Modern-Data-demo/Database_Services/inventory_and_supplies/bg_worker.py
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
